<%= form_for @user do |t| %>
	Nome: <%= t.text_field :name %> <br/>
	Sobrenome: <%= t.text_field :last_name %> <br/>
	Email: <%= t.text_field :email %> <br/>
	Data de nascimento: <%= t.text_field :birthdate %> <br/>
	Senha: <%= t.text_field :password %> <br/>
	Confimação da senha: <%= t.text_field :password_confirmation %> <br/>
		<%= t.submit %>
<% end %>